<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tetcon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RecordResult</display-name>
    <servlet-name>RecordResult</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.RecordResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordResult</servlet-name>
    <url-pattern>/RecordResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStats</display-name>
    <servlet-name>QueryStats</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.QueryStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStats</servlet-name>
    <url-pattern>/QueryStats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryHistory_Histogram</display-name>
    <servlet-name>QueryHistory_Histogram</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.View.QueryHistory_Histogram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryHistory_Histogram</servlet-name>
    <url-pattern>/QueryHistory_Histogram</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryHistory_LogChart</display-name>
    <servlet-name>QueryHistory_LogChart</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.View.QueryHistory_LogChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryHistory_LogChart</servlet-name>
    <url-pattern>/QueryHistory_LogChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStats_BarChart</display-name>
    <servlet-name>QueryStats_BarChart</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.View.QueryStats_BarChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStats_BarChart</servlet-name>
    <url-pattern>/QueryStats_BarChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterProgram</display-name>
    <servlet-name>RegisterProgram</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.RegisterProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterProgram</servlet-name>
    <url-pattern>/RegisterProgram</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTable</display-name>
    <servlet-name>QueryTable</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.QueryTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTable</servlet-name>
    <url-pattern>/QueryTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryHistory</display-name>
    <servlet-name>QueryHistory</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.QueryHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryHistory</servlet-name>
    <url-pattern>/QueryHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryRank</display-name>
    <servlet-name>QueryRank</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.QueryRank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRank</servlet-name>
    <url-pattern>/QueryRank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRank</display-name>
    <servlet-name>UpdateRank</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.UpdateRank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRank</servlet-name>
    <url-pattern>/UpdateRank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterContest</display-name>
    <servlet-name>RegisterContest</servlet-name>
    <servlet-class>com.hotmail.abechanta.tetcon.RegisterContest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterContest</servlet-name>
    <url-pattern>/RegisterContest</url-pattern>
  </servlet-mapping>
</web-app>